@import "colores";
@import "sizes";
@import "time";
@import "positions";

footer{
    margin: $size8;
}

div h4{
    font-size: $size10;
    text-align: $positionCenter;
    font-weight: $size16;
}

.social-menu ul {
    margin: $size6;
    justify-content: $positionCenter;
    display: $positionFlex;
    align-items: $positionCenter;
}
.social-menu ul li {
    list-style: $positionNone;
    margin: $size6 $size6;
}
.social-menu ul li .fab{
    color: $color6;
    font-size: $size10;
    line-height: $size12;
    transition: $second1;
}
.social-menu ul li .fab:hover {
    color: $color1;
}
.social-menu ul li a {
    position: $positionRelative;
    display: block;
    width: $size12;
    height: $size12;
    border-radius: $size1;
    background-color: $color1;
    text-align: $positionCenter;
    transition: $second1;
    transform: translate(0,0px);
    box-shadow: 0px $size5 $size4 $color9;
}
.social-menu ul li a:hover {
    transform: rotate(0deg) skew(0deg) translate(0, -10px);
}
.social-menu ul li:nth-child(1) a:hover {
    background-color: $color7;
}
.social-menu ul li:nth-child(2) a:hover {
    background-color: $color8;
}
.social-menu ul li:nth-child(3) a:hover {
    background-color: $color6;
}

#copy{
    font-size: $size9;
    font-weight: $size15;
}