@import "colores";
@import "sizes";

h1{
    color: $color6;
    padding: 10px;
    font-weight: 1000;
    font-size: $size;
}

a {
    text-decoration: none;
    color: $color6 !important;
    list-style: none;
}

#nav-bar {
    top: 0;
    z-index: 5;
}

#navbarNav ul li::after{
    content:"";
    background: $color6;
    display: block;
    margin: auto;
}

.navbar-nav li a {
    font-weight: 1000;
    font-size: 25px;
    text-align: center;
}


// Cambio boton Menu Hamburgesa
.navbar-toggler-icon{
    color: $color6 !important; 
    font-size: 15px
}

