@import "colores";
@import "sizes";
@import "time";
@import "positions";

h1{
    color: $color6;
    padding: $size6;
    font-weight: $size17;
}

a {
    text-decoration: $positionNone;
    color: $color6 !important;
    list-style: $positionNone;
}

#nav-bar {
    top: 0;
    z-index: 5;
}

#navbarNav ul li::after{
    content:"";
    background: $color6;
    display: $posBlock;
    margin: $posAuto;
}

.navbar-nav li a {
    font-weight: $size17;
    font-size: $size9;
    text-align: $positionCenter;
}

//Efecto Hover
.hvr-grow {
    display: $diplays;
    vertical-align: $posMiddle;
    -webkit-transform: perspective($size3) translateZ(0);
    transform: perspective($size3) translateZ(0);
    box-shadow: 0 0 $size3 rgba(0, 0, 0, 0);
    -webkit-transition-duration: $second;
    transition-duration: $second;
    -webkit-transition-property: transform;
    transition-property: transform;
  }
  .hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }

// Cambio boton Menu Hamburgesa
.navbar-toggler-icon{
    // color: $color6 !important; 
    font-size: $size7;
}

