$positionCenter: center ;

$positionNone: none;

$positionRelative: relative;

$posAbs: absolute;

$positionFlex: flex;

$posBlock: block;

$posAuto: auto;

$posMiddle: middle;

$posRelative: relative;

$diplays: inline-block;


