$size: 85vh;

$size1: 50%;

$size2: 100%;

$size3: 1px;

$size4: 5px;

$size5: 7px;

$size6: 10px;

$size7: 18px;

$size8: 20px;

$size9: 25px;

$size10: 30px;

$size11: 40px;

$size12: 50px;

$size13: 1200px;

$size14: 500;

$size15: 600;

$size16: 700;

$size17: 900;

$size18: 4rem;


